.myBtn {
    display: inline-block;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.littleBtn {
    display: inline-block;
    width: 76px;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 2px 0;
}

.myBtn_middle {
    padding: 3px 10px;
}

.myBtn_blue {
    background-color: rgba(45, 50, 145, 1);
    color: rgb(246, 246, 246);
    /* border: 1px solid rgba(45, 50, 145,.3); */
}

.myBtn_primary {
    background-color: rgba(0, 120, 255, 0.3);
    color: rgba(0, 120, 255, 1);
    /* border: 1px solid rgba(0, 120, 255, 0.3); */
}

.myBtn_waring {
    background-color: rgba(255, 167, 0, 0.3);
    color: rgba(255, 167, 0, 1);
    /* border: 1px solid rgba(255, 167, 0, 0.3); */
}

.myBtn_info {
    background-color: rgba(129, 129, 129, 0.3);
    color: rgba(129, 129, 129, 1);
    /* border: 1px solid rgba(129, 129, 129, 0.3); */
}

.myBtn_success {
    background-color: rgba(1, 186, 109, .3);
    color: rgba(1, 186, 109, 1);
    border: 1px solid rgba(1, 186, 109, 0.3);
}

.myBtn_plain {
    background-color: #fff;
    font-size: 12px;
}

.myBtn_plain_blue {
    border: 1px solid rgba(45, 50, 145, 1);
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.scrollbar::-webkit-scrollbar {
    width: 0;
}

/* 输入框最大输入个数的颜色修改 */

.el-input .el-input__count, .el-textarea .el-input__count {
    color: #ff4a00!important;
}